body
{
  background-color: #DDDDDD;
  font-family: 'Readex Pro', sans-serif;
  text-align: center;
}

#character_info  {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 800px;
}

.characterBox {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 2px 3px #00000066;
  height: 55px;
  width: 300px;
  min-width: 100px;
}

.characterBox:hover {
  box-shadow: 2px 2px 3px #00000044 inset;
  cursor: pointer;
}

.characterName {
  text-shadow: 1px 1px 0px #FFFFFFFF;
  float: left;
  padding-left: 10px;
}

.characterRace {
  text-shadow: 1px 1px 1px #FFFFFFAA;
  float: right;
  padding-right: 1px;
}

.characterProf {
  text-shadow: 1px 1px 1px #FFFFFFAA;
  float: right;
  padding-right: 10px;
}

.characterProfPic {
  position: relative;
  margin-top: -10px;
  margin-right: -5px;
  width: 3em;
  /* background-color: #FFFFFF66;
  border-radius: 30%; */
}

#Elementalist .characterProfPic {
  /* filter: hue-rotate(100deg); */
  filter: hue-rotate(300deg);
}

#Engineer .characterProfPic {
  /* filter: hue-rotate(100deg); */
}

#Guardian .characterProfPic {
  filter: hue-rotate(160deg);
}

#Guardian .characterProfPic {
  filter: hue-rotate(160deg);
}

#Necromancer .characterProfPic {
  filter: hue-rotate(100deg);
}

#Mesmer .characterProfPic {
  filter: brightness(90%) hue-rotate(230deg);
}

#Ranger .characterProfPic {
  filter: hue-rotate(50deg);
}

#Revenant .characterProfPic {
  filter: hue-rotate(320deg);
}

#Thief .characterProfPic {
  filter: hue-rotate(290deg);
}

#Warrior .characterProfPic {
  filter: hue-rotate(340deg);
}

#Elementalist {
  background: linear-gradient(0deg, rgba(246,210,209,1) 0%, rgba(254,238,237,1) 100%);
  color: #DC423E;
  border: 1px solid #F68A87;
}

#Engineer {
  background: linear-gradient(0deg, rgba(232,200,159,1) 0%, rgba(248,235,218,1) 100%);
  color: #87581D;
  border: 1px solid #D09C59;
}

#Guardian {
  background: linear-gradient(0deg, rgba(207,238,253,1) 0%, rgba(234,246,249,1) 100%);
  color: #186885;
  border: 1px solid #72C1D9;
}

#Necromancer {
  background: linear-gradient(0deg, rgba(191,230,208,1) 0%, rgba(229,242,234,1) 100%);
  color: #2C9D5D;
  border: 1px solid #52A76F;
}

#Mesmer {
  background: linear-gradient(0deg, rgba(215,178,234,1) 0%, rgba(244,235,249,1) 100%);
  color: #69278A;
  border: 1px solid #B679D5;
}

#Ranger {
  background: linear-gradient(0deg, rgba(226,246,209,1) 0%, rgba(238,250,227,1) 100%);
  color: #67A833;
  border: 1px solid #8CDC82;
}

#Revenant {
  background: linear-gradient(0deg, rgba(235,201,194,1) 0%, rgba(246,236,233,1) 100%);
  color: #A66356;
  border: 1px solid #D16E5A;
}

#Thief {
  background: linear-gradient(0deg, rgba(230,213,215,1) 0%, rgba(245,238,239,1) 100%);
  color: #974550;
  border: 1px solid #C08F95;
}

#Warrior {
  background: linear-gradient(0deg, rgba(255,245,187,1) 0%, rgba(255,248,232,1) 100%);
  color: #CAAA2A;
  border: 1px solid #FFD166;
}

a {
  all: unset;
  padding-right: 10px;
  margin: 0px;
  margin-top: 15px;
  cursor: pointer;
}

a:hover {
  filter: brightness(80%);
}